<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App VueJS</title>
</head>
<body>
    <div id="app">
        <h1> Vue App </h1>
        <p> {{ message }} </p>

        <ul>
           <li v-for="(product, index) in products" :key="index">
                <p> {{ product.title }} </p>
                <img style="width: 300px" :src="product.image" :alt="product.title">
                <strong v-if="product.stars > 0"> {{ product.stars }} </strong>
           </li> 
        </ul>
        
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
</body>
</html>